<div id="page-404" class="valign-center">
    <div class="ta-center">
        <h2>{{ 'general.404.title' | t }}</h2>
        <br/>
        <a class="text-link spaced-caps" href="/">{{ 'general.404.back' | t }}</a>
    </div>
</div>
