<div class="index-products">
  <div class="index-top">
    <h1>{{ 'general.shop.description' | t }}</h1>
    <p>{{ 'general.shop.sub_description' | t }}</p>
  </div>
    {% for product in collections.frontpage.products limit:4 %}
        {% include 'product-card' %}
    {% endfor %}
</div>
