<div id="page" class="wrapper valign-center">
    <div class="page-inner">
        <h2 class="page-title ta-center">{{ page.title }}</h2>
        <div class="page-content">{{ page.content }}</div>
    </div>
</div>

